//colors
$white: hsl(0, 0%, 100%);
$cream: hsl(30, 38%, 92%);
$darkGrayishBlue: hsl(228, 12%, 48%);
$darkCyan: hsl(158, 36%, 37%);
$veryDarkBlue: hsl(212, 21%, 14%);

//font-weights
$regular: 500;
$bold: 700;

//font-size
$fontSize: 0.875rem;